In [6]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randint(1,100,size=(6,4)),columns=["A","B","C","D"])
print("original dataframe")
print(df)
df.set_index('A',inplace=True)
print(df)

original dataframe
    A   B   C   D
0  10   5  53  13
1  58  32  10  70
2  35  26  57  28
3  65  20  10  40
4  68  91  53  66
5  47  58  93  16
     B   C   D
A
10   5  53  13
58  32  10  70
35  26  57  28
65  20  10  40
68  91  53  66
47  58  93  16

In [24]:
df = pd.DataFrame(np.random.randint(1,100,size=(3,3)),columns=['A','B','C'],index=['X','Y','Z'])
print("original dataframe")
print(df)
element = df.at['Y','B']
print("...........",element)

original dataframe
    A   B   C
X  94   9   1
Y  13  19  18
Z   6  16  96
........... 19

In [4]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randint(1,100,size=(5,3)),columns=["A","B","C"])
print("Original data frame")
print(df)
df["D"] = df["A"] * df["B"]
print("with new column")
print(df)

Original data frame
    A   B   C
0  20  76  85
1  77  72   9
2  92  57  34
3  53   2  81
4  93  10  59
with new column
    A   B   C     D
0  20  76  85  1520
1  77  72   9  5544
2  92  57  34  5244
3  53   2  81   106
4  93  10  59   930

In [8]:
df = pd.DataFrame(np.random.randint(1,100,size=(4,3)),columns=['A','B','C'])
print("this is original dataframe")
print(df)
row_sum = df.sum(axis=1)
print("this is the sum of row ")
print(row_sum)
column_sum=df.sum(axis=0)
print("this is the sum of columns")
print(column_sum)

this is original dataframe
    A   B   C
0  91  12  16
1  55  99  50
2  60  23  14
3  39  52  61
this is the sum of row
0    119
1    204
2     97
3    152
dtype: int64
this is the sum of columns
A    245
B    186
C    141
dtype: int64

In [89]:
df = pd.DataFrame(np.random.randint(1,99,size=(5,3)),columns=["A","B","C"])
print("this is original data frame")
print(df)
df.iloc[0,1]=np.NaN
df.iloc[2,2]=np.NaN
df.iloc[4,0]=np.NaN
print("data frame with NaN value")
print(df)
df.fillna(df.mean(),inplace=True)
print("dataframe with nan value filled")
print(df)

this is original data frame
    A   B   C
0  23  68  88
1  72   9  88
2  61  80  86
3  76  91   1
4  32  73  90
data frame with NaN value
      A     B     C
0  23.0   NaN  88.0
1  72.0   9.0  88.0
2  61.0  80.0   NaN
3  76.0  91.0   1.0
4   NaN  73.0  90.0
dataframe with nan value filled
      A      B      C
0  23.0  63.25  88.00
1  72.0   9.00  88.00
2  61.0  80.00  66.75
3  76.0  91.00   1.00
4  58.0  73.00  90.00

In [94]:
df = pd.DataFrame(np.random.randint(1,100,size=[6,4]),columns=["A","B","C","D"])
print("this is original dataframe")
print(df)
df.iloc[1,2]=np.nan
df.iloc[3,0]=np.nan
df.iloc[5,1]=np.nan
print("this is dataframe with nan values")
print(df)
df.dropna(inplace=True)
print("this is the value after nan value dropped")
print(df)

this is original dataframe
    A   B   C   D
0  97  35  52  89
1  91  49  57   9
2   2  38  36   7
3   1  28  64  74
4  19  99   7  11
5  35  92  84  55
this is dataframe with nan values
      A     B     C   D
0  97.0  35.0  52.0  89
1  91.0  49.0   NaN   9
2   2.0  38.0  36.0   7
3   NaN  28.0  64.0  74
4  19.0  99.0   7.0  11
5  35.0   NaN  84.0  55
this is the value after nan value dropped
      A     B     C   D
0  97.0  35.0  52.0  89
2   2.0  38.0  36.0   7
4  19.0  99.0   7.0  11

In [155]:
df = pd.DataFrame({"category":np.random.choice(["A","B","C"],size=10),"value":np.random.randint(1,100,size=[10])})
print("This is original Dataframe")
print(df)
grouped = df.groupby("category")["value"].agg(["sum","mean"])
print("Grouped Datafram")
print(grouped)

This is original Dataframe
  category  value
0        A     80
1        B      3
2        B     24
3        A     25
4        A     65
5        A     29
6        A      7
7        C     71
8        C      1
9        C     22
Grouped Datafram
          sum       mean
category
A         206  41.200000
B          27  13.500000
C          94  31.333333

In [157]:
# Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'
df = pd.DataFrame({'Product': np.random.choice(['Prod1', 'Prod2', 'Prod3'], size=10), 'Category': np.random.choice(['A', 'B', 'C'], size=10), 'Sales': np.random.randint(1, 100, size=10)})
print("Original DataFrame:")
print(df)

# Group the DataFrame by 'Category' and compute the total sales for each category
grouped = df.groupby('Category')['Sales'].sum()
print("Grouped DataFrame:")
print(grouped)

Original DataFrame:
  Product Category  Sales
0   Prod3        B     28
1   Prod1        C     38
2   Prod2        C     25
3   Prod3        B     63
4   Prod2        A     77
5   Prod2        A     54
6   Prod2        B     45
7   Prod1        A     54
8   Prod3        C     70
9   Prod1        A     22
Grouped DataFrame:
Category
A    207
B    136
C    133
Name: Sales, dtype: int32

In [1]:
# Create two Pandas DataFrames with a common column
import pandas as pd
import numpy as np
df1 = pd.DataFrame({'Key': ['A', 'B', 'C', 'D'], 'Value1': np.random.randint(1, 100, size=4)})
df2 = pd.DataFrame({'Key': ['A', 'B', 'C', 'E'], 'Value2': np.random.randint(1, 100, size=4)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

# Merge the DataFrames using the common column
merged = pd.merge(df1, df2, on='Key')
print("Merged DataFrame:")
print(merged)

DataFrame 1:
  Key  Value1
0   A      79
1   B      36
2   C       2
3   D       9
DataFrame 2:
  Key  Value2
0   A      75
1   B      23
2   C      37
3   E      65
Merged DataFrame:
  Key  Value1  Value2
0   A      79      75
1   B      36      23
2   C       2      37

In [3]:
import pandas as pd
import numpy as np
df1 = pd.DataFrame({'A': np.random.randint(1, 100, size=3), 'B': np.random.randint(1, 100, size=3)})
df2 = pd.DataFrame({'C': np.random.randint(1, 100, size=3), 'D': np.random.randint(1, 100, size=3)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

# Concatenate the DataFrames along the rows
concat_rows = pd.concat([df1, df2], axis=0)
print("Concatenated DataFrame (rows):")
print(concat_rows)

# Concatenate the DataFrames along the columns
concat_columns = pd.concat([df1, df2], axis=1)
print("Concatenated DataFrame (columns):")
print(concat_columns)

DataFrame 1:
    A   B
0  22  64
1  50   5
2  31  63
DataFrame 2:
    C   D
0   4  80
1  18  91
2  41  27
Concatenated DataFrame (rows):
      A     B     C     D
0  22.0  64.0   NaN   NaN
1  50.0   5.0   NaN   NaN
2  31.0  63.0   NaN   NaN
0   NaN   NaN   4.0  80.0
1   NaN   NaN  18.0  91.0
2   NaN   NaN  41.0  27.0
Concatenated DataFrame (columns):
    A   B   C   D
0  22  64   4  80
1  50   5  18  91
2  31  63  41  27