In [1]:
import sqlite3 as sq
def connection_databasw():
    conn = sq.connect("mahim database")
    conn.close()
    print("Database created and connected successfully")
connection_databasw()

Database created and connected successfully

In [1]:
import sqlite3
def create_table():
    conn = sqlite3.connect('mahim database')
    cursor = conn.cursor()
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS employees (
            id INTEGER PRIMARY KEY,
            name TEXT NOT NULL,
            age INTEGER,
            department TEXT
        )
    ''')
    conn.commit()
    conn.close()
    print("Table 'employees' created successfully.")

# Test the function
create_table()

Table 'employees' created successfully.

In [3]:
import sqlite3
def insert_employee(id, name, age, department):
    conn = sqlite3.connect("mahim database")
    cursor = conn.cursor()
    cursor.execute("""INSERT INTO employees(id,name,age,department)
                   VALUES(?,?,?,?)""",(id,name,age,department))
    conn.commit
    conn.close
    print("Employee inserted successfully")
insert_employee(1,"Alise",30,"HR")

OperationalError: database is locked

In [7]:
import sqlite3
def insert_employee(id, name, age, department):
    conn = sqlite3.connect("mahim database")
    cursor = conn.cursor()
    cursor.execute("""INSERT INTO employees(id,name,age,department)
                   VALUES(?,?,?,?)""",(id,name,age,department))
    conn.commit
    conn.close
    print("Employee inserted successfully")
insert_employee(1,"Alise",30,"HR")
insert_employee(2,"Mahim",20,"CEO")

Employee inserted successfully

OperationalError: database is locked

In [9]:
def create_table():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS employees (
            id INTEGER PRIMARY KEY,
            name TEXT NOT NULL,
            age INTEGER,
            department TEXT
        )
    ''')
    conn.commit()
    conn.close()
    print("Table 'employees' created successfully.")

# Test the function
create_table()

Table 'employees' created successfully.

In [11]:
import sqlite3
def insert_employee(id, name, age, department):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('''
        INSERT INTO employees (id, name, age, department)
        VALUES (?, ?, ?, ?)
    ''', (id, name, age, department))
    conn.commit()
    conn.close()
    print("Employee inserted successfully.")

# Test the function
insert_employee(1, 'Alice', 30, 'HR')
insert_employee(2, 'Bob', 25, 'Engineering')
insert_employee(3, 'Charlie', 28, 'Sales')
insert_employee(4, 'David', 35, 'Marketing')
insert_employee(5, 'Eve', 22, 'HR')

IntegrityError: UNIQUE constraint failed: employees.id

In [13]:
import sqlite3
def fetch_all_employees():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('SELECT * FROM employees')
    records = cursor.fetchall()
    conn.close()
    for record in records:
        print(record)

# Test the function
fetch_all_employees()

(1, 'Alice', 30, 'HR')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 28, 'Sales')
(4, 'David', 35, 'Marketing')
(5, 'Eve', 22, 'HR')

In [18]:
def fetch_employees_by_deportment(department):
    conn = sqlite3.connect("test.db")
    cursor = conn.cursor()
    cursor.execute("SELECT * from employees WHERE department=?",(department,))
    records = cursor.fetchall()
    conn.close()
    for record in records:
        print(record)
fetch_employees_by_deportment("HR")

(1, 'Alice', 30, 'HR')
(5, 'Eve', 22, 'HR')

In [20]:
def update_employee_department(employee_id, new_department):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('''
        UPDATE employees
        SET department = ?
        WHERE id = ?
    ''', (new_department, employee_id))
    conn.commit()
    conn.close()
    print("Employee department updated successfully.")

# Test the function
update_employee_department(1, 'Finance')

Employee department updated successfully.

In [22]:
update_employee_department(2, 'Research')
update_employee_department(3, 'Customer Support')

# Fetch and display all records
fetch_all_employees()

Employee department updated successfully.
Employee department updated successfully.
(1, 'Alice', 30, 'Finance')
(2, 'Bob', 25, 'Research')
(3, 'Charlie', 28, 'Customer Support')
(4, 'David', 35, 'Marketing')
(5, 'Eve', 22, 'HR')

In [24]:
def delete_employee(employee_id):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('''
        DELETE FROM employees
        WHERE id = ?
    ''', (employee_id,))
    conn.commit()
    conn.close()
    print("Employee deleted successfully.")

# Test the function
delete_employee(5)

Employee deleted successfully.

In [26]:
def insert_multiple_employees(employees):
    conn = sqlite3.connect("test.db")
    cursor = conn.cursor()
    try:
        cursor.executemany('''
            INSERT INTO employees (id, name, age, department)
            VALUES (?, ?, ?, ?)
        ''', employees)
        conn.commit()
        print("All employees inserted successfully.")
    except Exception as e:
        conn.rollback()
        print("Error occurred, transaction rolled back.")
        print(e)
    finally:
        conn.close()

# Test the function with valid and invalid data
employees = [
    (6, 'Frank', 40, 'Finance'),
    (7, 'Grace', 29, 'Engineering'),
    (8, 'Hannah', 35, 'Marketing'),
    (9, 'Ivan', 38, 'Sales'),
    (6, 'Jack', 45, 'HR')  # Duplicate ID to cause an error
]
insert_multiple_employees(employees)

Error occurred, transaction rolled back.
UNIQUE constraint failed: employees.id

In [27]:
import shutil

def backup_database():
    shutil.copy('test.db', 'backup.db')
    print("Database backed up successfully.")

# Test the function
backup_database()

Database backed up successfully.

In [28]:
def restore_database():
    shutil.copy('backup.db', 'test.db')
    print("Database restored successfully.")

# Test the function
restore_database()

Database restored successfully.