In [2]:
tpl = tuple(range(1,11))
print(tpl)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [10]:
tpl = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10,11)
print(tpl[0])
print(tpl[5])
print(tpl[-1])

1
6
11

In [16]:
tpl = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10,11)
print(tpl[:3])
print(tpl[-3:])
print(tpl[2:6])

(1, 2, 3)
(9, 10, 11)
(3, 4, 5, 6)

In [46]:
matrix = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
print("Matrix")
for row in matrix:
    print(row)
print(matrix[1][2])

Matrix
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
6

In [47]:
tpl1=(1,2,3)
tpl2=(3,4,5)
final = tpl1 + tpl2
print(final)

(1, 2, 3, 3, 4, 5)

In [48]:
tpl = (1,2,3,4,5,6)
a,b,c,d,e,f = tpl
print(a,b,c,d,e,f)

1 2 3 4 5 6

In [49]:
lst = [2,4,6,8]
tpl = tuple(lst)
print(tpl)

(2, 4, 6, 8)

In [50]:
nested_tuple =  (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
print(nested_tuple)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [58]:
tpl = (1,2,3,4,5)
lst = list(tpl)
lst.append(6)
print(lst)
tpl = tuple(lst)
print(tpl)

[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)

In [60]:
string = "mahim"
tpl = tuple(string)
join_string = ''.join(tpl)
print(join_string)

mahim

In [62]:
tuple_dict = {
    (1,2,3):3,
    (4,5,6):6,
    (7,8,9):9
}
print(tuple_dict)

{(1, 2, 3): 3, (4, 5, 6): 6, (7, 8, 9): 9}

In [63]:
nested_tuple = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
for tpl in nested_tuple:
    for elem in tpl:
        print(elem)

1
2
3
4
5
6
7
8
9

In [64]:
dup_tpl = (1,2,3,3,4,5,5,6,7)
ans = set(dup_tpl)
print(ans)

{1, 2, 3, 4, 5, 6, 7}

In [73]:
tpl = (1, 2, 3, 4, 5, 6, 7)
main = max(tpl)
alter = min(tpl)
cont = sum(tpl)
print(main,alter,cont)

7 1 28